.container{
    background-color: burlywood;
    margin-top: 80px;
    height: 1900px;
}
.box{
    background-color: chartreuse;
    height: 100px;
    width: 100px;
    border: 2px solid red;
    display: inline-block;
}
#box2{
    /* relative */
   /* position: relative;
   top: 200px;
   left: 200px; */



/* absolulte
   position: absolute;
bottom: 10px;
   right:20px ; */


    /* sticky
   position: sticky;
   top: 100px;
   left: 100px; */



    /* fixed
   position: fixed;
   top: 40px;
   left: 50px; */
   

}